*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    margin:0;
    overflow:hidden;
}

canvas{
    display:block;
}


#lobby-ui{
    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    z-index: 100;
}

#lobby-ui h1{
    font-size: 5rem;

    background: linear-gradient(
        90deg,
        hotpink,
        orange
    );

    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

#enter-btn{
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    color: plum;
    border-radius: 2px;
}